@import './fonts/fonts';

* {
  box-sizing: border-box;
}

html {
  font-family: "DinNeuzeitGrotesk", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
body {
  margin: 0;
  padding: 0;
}
body {
  // perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  cursor: default;
}
button {
  outline: none;
}