@import '../../resources/variables.scss';
@import '../../resources/fonts/fonts';

.NavMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: $chief-text-color;
  padding-top: 1.823vw;
  overflow: hidden;

  img {
    width: 1.8vw;
  }

  .link-menu {
    display: flex;
    flex-direction: row;
    font-size: 1.4vw;
    line-height: 1.1vw;
    position: fixed;
    left: 5.1vw;
    z-index: 10;  
    a {
      text-transform: uppercase;    
      color: $chief-text-color;
      cursor: pointer;
      margin-right: 1.8vw;

      &:hover, &:active,
      &.active {
        color: #706D6D;
        transition: color 0.4s ease 0s;
      }
    } 
    @media (max-width: $sm-screen) {
      display: none;
    }
  }

  &.open > .link-menu {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 82%;
    left: 18%;
    height: 100vh;
    top: 0;
    padding-top: 160px;
    padding-left: 100px;
    font-size: 4.4vw;
    line-height: 6.1vw;
    transition: all 1s ease 0s;
    a:hover, a.active {
      color: #BBA45B;
      transition: color 0.4s ease 0s;
    }
  }

  &.open > .social-links > .login {
    display: flex; 
    position: relative;
    right: 50vw;
    .login-txt {
      font-size: 3.1vw;
    }
    img {
      width: 2.8vw;
    }
    &:hover {
      color: #BBA45B;
      transition: color 0.4s ease 0s;
    }
  }

  .logo {
    font-size: 2.8vw;
    font-family: "BelindaRegular";
    a {
    color: $chief-text-color;
    }
    @media (max-width: $sm-screen) {
      font-size: 7.45vw
    }
  }

  .social-links {
    display: flex;
    position: fixed;
    z-index: 10;
    right: 5.1vw;

    .login {
      font-size: 1rem;
      border: none;
      background: inherit;
      display: flex;
      align-items: center;
      vertical-align: baseline;
      cursor: pointer;
      line-height: 1.4rem;
      margin-right: 0.521vw;

      .login-txt {
        padding-top: 0;
        padding-left: 1.042vw; 
        padding-bottom: 3px;
        font-size: 1.1vw;
      }

      @media (max-width: $sm-screen) {
        display: none;
      }
    }
    a {
      margin-left: 10px;
      @media (max-width: $sm-screen) {
        display: none;
      }
    }
  }

  .menu-btn {
    position: absolute;
    right: 7.135vw;
    cursor: pointer;
    display: none;
    height: 50px;
    width: 50px;
    transition: all .7s ease-in;
    z-index: 11;
    @media (max-width: $sm-screen) {
      display: flex;
    }
    & span,
    & span::before,
    & span::after  {
      position: absolute;
      top: 30%; 
      left: 50%; margin-left: -16.6px;
      width: 33px;
      height: 3px;
      background-color: $chief-text-color;
      border-radius: 2px;
    }
    & span::before {
      content: '';
      margin-top: -5px;
      transform: translateY(12px);
    }
    & span::after {
      content: '';
      transform: translateY(-10px);
      margin-top: 1px;
      transition: opacity .5s;
    }
  }

  &.open .menu-btn { 
    & span::before {
      transform: rotate(90deg);
      transition: .7s;
      margin-top: -2px;
    }
    & span::after {
      opacity: 0;
    }
    & span {
      transform: rotate(-45deg);
      top: 50%;
    }
  }

  @media (max-width: $sm-screen) {
    background-color: #ffffff;
    height: 15.3vw;
  }
}