@import '../../resources/variables.scss';

.CenterImgBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  z-index: 1;
  transform-style: inherit;
  overflow-x: hidden;
  // @media (max-width: $xs-screen) {
  //   min-height: 70vh;
  // }
  img {
    max-width: 80vw;
    z-index: 3;
  }
 
  &.icecreame-slide {
    background-color: $home-pg-bck-color;
    img {
      max-width: 22.438vw;
      position: fixed;
      margin-top: -22vw;
      margin-left: -12vw;
      @media (max-width: $sm-screen) {
        max-width: 45.3vw;
        width: 33vw;
        margin-top: -28vw;
        margin-left: -18vw;
      }
      @media (max-width: $xs-screen) {
        max-width: 57vw;
        width: 57vw;
        margin-top: -55vw;
        margin-left: -28vw;
      }
    } 
    & > .MyButton {
      bottom: -10vw;
      position: relative;
      @media (max-width: $sm-screen) {
        bottom: -19vw;
      }
    } 
  }

  &.fruit-slide {
    background-color: #B4E7D5; 
    img {
      position: relative;
      width: 65vw;
      @media (max-width: $sm-screen) {
        width: 90vw;
      }
      @media (max-width: $xs-screen) {
        width: 83vw;
      }
    }
    @media (max-width: $sm-screen) {
      height: 110vh;
      .center-block-text {
        position: relative;
        .text-line-one {
          font-size: 6.45vw;
          line-height: 13vw;
        }
        .text-line-two {
          font-size: 10vw;
          line-height: 2vw;
        }
      }
    }
    @media (max-width: $xs-screen) {
      min-height: 70vh;
    }
    & > .MyButton {
      bottom: 9vw;
      position: relative;
      @media (max-width: $lg-screen) {
        bottom: 15vw;
      }
      @media (max-width: $sm-screen) {
        bottom: 15.4vw;
      }
    } 
  }

  &.candy-slide {
    background-color: #FEBFB3;
    img {
      width: 89vw;
      @media (max-width: $sm-screen) {
        max-width: 110vw;
      }
      @media (max-width: $xs-screen) {
        width: 115vw;
      }
    }
    @media (max-width: $sm-screen) {
      height: 110vh;
      overflow: hidden;
      .center-block-text {
        position: relative;
        .text-line-one {
          font-size: 7.45vw;
        }
        .text-line-two {
          font-size: 10vw;
          line-height: 8vw;
        }
      }
    }
    & > .MyButton {
      bottom: 6vw;
      position: relative;
      @media (max-width: $lg-screen) {
        bottom: 12vw;
      }
      @media (max-width: $sm-screen) {
        bottom: 0;
      }
    } 
  }

  .center-block-text {
    position: absolute;
    text-align: center;
    color: #ffffff;
    z-index: 5;
  
    .text-line-one {
      font-size: 3.45vw;
      line-height: 3.7vw;
      @media (max-width: $sm-screen) {
        font-size: 5.45vw;
        line-height: 9.7vw;
      }
    }
    .text-line-two {
      font-size: 8vw;
      line-height: 8vw;
      font-family: "LuloClean";
      @media (max-width: $sm-screen) {
        font-size: 12.5vw;
        line-height: 11.5vw;
      }
    }
  }

}
