@font-face {
  font-family: "BelindaRegular";
  src: url("../fonts/belinda.otf");
}

@font-face {
  font-family: "DinNeuzeitGrotesk";
  src: url("../fonts/DINNeuzeitGroteskStdBdCond.otf");
}
 
@font-face {
  font-family: "LuloClean";
  src: url("../fonts/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf");
}
    