@import '../../resources/variables.scss';

.btn-book-event {
  margin-top: 1.083vw;
  border: none;
  cursor: pointer;
  background-color: $chief-text-color;
  color: #ffffff;
  font-size: 1.354vw;
  padding: 4px 30px;
  @media (max-width: $xs-screen) {
    font-size: 3.1vw;
    margin-top: 3.8vw;
  }
  &:hover {
    opacity: .4;
    transition: opacity .3s;
  }
  &:active {
    border: none;
  }
}